body {
    /*font-family: 'Helvetica';*/
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #AAAAAA;
    margin: 0;
}

.content {
  /* take out for now*/
  /*padding: 30px;*/
  height: 100vh;
  background-color: #F6F6F6;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;


  /* Centering */
  /*max-width: -webkit-calc(800pt - (30pt * 2));*/
  /*max-width: calc(800pt - (30pt * 2));*/
  max-width: 50vw;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

h1 {
  font-size: 3em;
  -webkit-margin-before: 1.7em;
  -webkit-margin-after: 1em;
  font-weight: normal;
}

.header {
  text-align: center;
  font-family: 'EB Garamond', serif;

}

.nav-links {
  color: #EB595A;
  font-weight: 600;
}

.left-header-img {
  float: left;
  max-width: 40vw;
  max-height: 100%;

  /* Crops image.
  Overflow: auto; is necessary,
  otherwise the image goes outides the bounds of its parent div.
  Lame.
  */
  object-fit: cover;
  overflow: hidden;
}
.about {
  text-align: center;
}

.header-img {
    height: 100%;

    /* want the width to be a little more than the parent div so it gets cropped.*/
    width: 70vw;
}


p {
  margin-bottom: 20px;
  text-align: justify;
  font-size: 1.1em;
}


/* Link Styling*/

.link:link {
  line-height: 1.75em;
	color: #EB595A;

  /* Space b/w text and underline */
	padding-bottom: 7px;

  text-decoration: none;
}
.link:hover {
	border-bottom: 2px solid #FFFFFF;
  cursor: pointer;

}

a:visited {
   text-decoration: none;
   /*color:  #464646;*/
   color: #EB595A;
}
