/*makes nav transparent, may use later??
.navbar-inner {
    background:transparent;
}*/

body {
  padding-top: 50px;
  background-color:white;
}

h2  {
	font-family: 'Open Sans',sans-serif;
	margin-bottom: 35px;
	font-size: 3em;
	/*font-weight: lighter;*/
/*	text-transform: uppercase;
*/	letter-spacing: .2em;
}

.about-pics {
	height: 50%;
	width: 50%;
	/*centering image*/
	margin-left: auto;
	margin-right: auto;
}

/* testin container 
.container{ 
	background-color: black;
}*/



body, html { height: 100%; }

#landing .jumbotron{
 /*background-color: #B23B2F;*/ 
   background: rgb(200, 54, 54); /* This is for ie8 and below */
   background: rgba(200, 54, 54, 0); 
   /*last number is opacity */
}

#landing {
	/*background-color: #B23B2F;	*/
	background-image: url(../img/bg.jpg); 
	background-size: cover;
	height: 100vh;
	padding: 40px 15px;
    text-align: center;
}


.arrow {
	position: absolute;
	bottom: 0px;
	opacity: .6;
}
.arrow i {
	color: black;
}


/*having padding 40px 15px in each section fixes gap*/

#about {
	background-color:#AAB2BD;	
	/*height: 100%;*/
	padding: 40px 15px;
	text-align: center;
}

/*#contact{
	background-color: #FF5543;
	height: 100%;
	padding: 40px 15px;
	text-align: center;
}*/

/*#contact .jumbotron{ background-color: #FF5543; }*/

#header {
	padding-bottom: 80px;
}

 a:link {
    text-decoration: none;
    color:  #464646;
}

 a:visited {
    text-decoration: none;
    color:  #464646;
}

footer a:hover {
    text-decoration: underline;

}

 footer a:active {
    text-decoration: underline;
}

#projects{
	background-color: #eee;
	padding: 40px 15px;
	text-align: center;
}

#projects a:link {
	color: #000;
	padding-bottom: 3px;
	border-bottom: 1px solid #000;
}
#projects a:hover {
	border-bottom: 1px dashed #000;
}
.img-center {
    display: block;
    margin: 0 auto;
}

.fa-comments{
	font-size: 128px;
}
footer {
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
	background-color: #000;
color: #848484;
}
.foot{
	
	font-size: 12px;
	text-transform: uppercase;
	font-family: FuturaStd-Heavy;
	letter-spacing: .18em;
}

#created{
	margin-top:10%;
}