<div class="container">

<div class="header">
  <h1>About</h1>
</div>

<div id="about">
  <%= image_tag "lecture-gray-crop.jpg", class: "header-img" %>
  <p>Hey internet, I'm Sergio 👋.</p>

  <p>The photo above is of me teaching a workshop at the University of Florida's <a class='link' href='http://ufsec.com/tutorials.html' target="_blank">Software Engineering Club</a>, which I was president of and heavily involved with throughout my time at UF. I recently graduted with a degree in Computer Science in 2017.</p>

  <p>I've lived in Florida for the first 22 years of my life. Now, I've just moved to and am currently residing in <a class='link', href='https://en.wikipedia.org/wiki/Seattle' target="_blank">Seattle, WA</a> where I am a Software Engineer at <a class='link', href='https://en.wikipedia.org/wiki/Facebook' target="_blank">Facebook</a>.</p>

  <p> Previously, I've worked at <a class='link' href='https://www.apple.com/' target="_blank">Apple</a> on Xcode localization tools, <a class="link" href='https://itunes.apple.com/app/apple-store/id1001676425?mt=8' target="_blank">Knack</a> on their iOS app, and <a class='link' href='' target="_blank">Lockheed Martin</a> on an automated testing scripting environment for the <a class='link' href='http://www.lockheedmartin.com/us/products/Arrowhead.html' target="_blank">Apache Arrowhead</a>.</p>

  <p>When I'm not programming, I like to <a class='link' target="_blank" href='https://www.strava.com/athletes/19035226'>run</a>, ride bicycles, exercise, skateboard, <a class='link' href=="https://www.goodreads.com/user/show/50777111-sergio-puleri" target="_blank">read</a>, and make and drink coffee.</p>

  <p> email me 📬</p>
  <a class="email" href="mailto:me@sergiopuleri.com" class="link" target="_blank"><span style="font-family: monospace;"> me at sergiopuleri dot com</span></a>

  <p> find me on the internet 🌎</p>
  <div class="social">
    <a href="https://twitter.com/sergiopuleri" target="_blank"><i class="fa fa-twitter link"></i></a>
    <a href="https://instagram.com/sergiopuleri" target="_blank"><i class="fa fa-instagram link"></i></a>
    <a href="https://github.com/spuleri" target="_blank"><i class="fa fa-github link"></i></a>
    <a href="https://www.linkedin.com/in/spuleri" target="_blank"><i class="fa fa-linkedin link"></i></a>
    <a href="https://www.dropbox.com/s/xphrhae3a3pd7uz/puleri_sergio_resume.pdf?dl=0" target="_blank"><i class="fa fa-briefcase link"></i></a>
  </div>

</div>

</div>

<!-- Footer -->
<!--
<footer id="main-footer">
  <div class="footer-container">
    <p class="copyright">&copy; 2017 Sergio Puleri - made with <i class="fa fa-heart"></i> in Gainesville, FL</p>

    <nav>
      <a href="https://www.linkedin.com/in/spuleri" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/spuleri" target="_blank"><i class="fa fa-github"></i></a>
      <a href="https://www.dropbox.com/s/xphrhae3a3pd7uz/puleri_sergio_resume.pdf?dl=0" target="_blank"><i class="fa fa-briefcase"></i></a>
      <a href="mailto:me@sergiopuleri.com" target="_blank"><i class="fa fa-envelope"></i></a>

    </nav>
  </div>
</footer>
-->
