@import 'normalize';
@import 'variables';

// Basic Body Styling and Font
body {
  margin: 0;
  background-color: $background;
}

// Main landing content wrapper
.viewport-page {
  height: 100vh;
  overflow: hidden;
}

.viewport-page-content {
  height: 96%;
}

// Container for main content
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: $pageWidth;
  margin: 0 auto;
}

.container-no-flex {
  width: 80%;
  max-width: $pageWidth;
  margin: 0 auto;
}


.no-flex-padding {
  padding: 3rem 0;
}





// Styling for nav links
.nav-links {
  color: $highlight;
  font-weight: 600;
  font-family: $sansSerif;
}

.main-nav {
  p {
    text-align: center;
  }
  max-width: $pageWidth;
  margin: 0px auto;
}


#main-footer {
  border-top: 1px solid $border;
  height: 4%;
  .footer-container {
    height: 100%;
    margin: .7% 2.5em;
  }
  .copyright {
    float: left;
    font-size: .9em;
    margin: 0;
  }

  nav {
    float: right;
    i {
      color: $dark;
      margin-left: 1em;
      padding-top: .2em;
      &:hover {
        color: $highlight;
      }
    }
  }

}

// General Application Wide Helpers
.notice, .alert {
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid #E9E9E9;
  max-width: 25vw;
  margin: 0px auto;
  border-radius: 1.5em;
}

.alert {
  font-weight: 600;
  background: #bc92e6;
  color: white;
}

.alert-danger {
  border: 1 px solid #ea0505;
  background: #f37f7f;
}

.alert-success {
  border: 1 px solid #43a937;
  background: #1ecc6f;
}

.signed-in-notice {
  // border: 1.3px solid darkgray;
  position: fixed;
  right: 3em;
  // margin: 0 1.5em 0 0;
  // padding: 0.5em;
  font-size: 0.65em;
  font-family: $monospaceFont;
  /* background-color: #e6d7d7; */
  // box-shadow: 2px 1px 6px 1px #e2d0d0;

  .emoji {
    font-size: 1.8em;
    margin-top: 2px;
    display: inline-block;
    vertical-align: middle;
  }

}

.email {
  text-decoration: none;
  color: $onyx;
}

// Codemirror
@import 'codemirror/lib/codemirror';
@import 'codemirror-github-light/lib/codemirror-github-light-theme';

// My Imports
@import 'about';
@import 'typography';
@import 'articles';
@import 'article_show';
@import 'article_editing';
@import 'code';
@import 'syntax';
@import 'mobile';
