@import 'normalize';
// Fonts
$body-font: 'Source Sans Pro', sans-serif;
$title-font: 'EB Garamond', serif;
$monospace-font: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;


// Colors
$background: #F6F6F6;
$highlight: #EB595A;
$white: #FFFFFF;
$onyx: #121212;
$dark: #424652;
$border: #E9E9E9;

// Other styling
$page-width: 35vw;
$editing-page-width: 45vw;

// Basic Body Styling and Font
body {
    /*font-family: 'Helvetica';*/
    font-family: $body-font;
    font-weight: 300;
    color: $onyx;
    margin: 0;

    background-color: $background;
}

// Main landing content wrapper
.viewport-page {
  height: 100vh;
  overflow: hidden;
}

.viewport-page-content {
  height: 96%;
}

// Container for main content
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: $page-width;
}

.container-no-flex {
  width: 80%;
  max-width: $page-width;
  margin: 0 auto;
}


.no-flex-padding {
	padding: 3rem 0;
}

// Header styling
.header {
  text-align: center;
  font-family: $title-font;

  h1 {
    font-size: 2em;
    -webkit-margin-before: .5em;
    -webkit-margin-after: .5em;
    font-weight: normal;
  }
}

h2 {
  font-size: 1.5em;
  -webkit-margin-before: .1em;
  -webkit-margin-after: .1em;
  font-weight: normal;
}

// General Application Text Styles
p {
  margin-bottom: 20px;
  text-align: justify;
  font-size: 1.2em;
}

// Link Styling
.link:link {
  line-height: 1.75em;
  color: $highlight;

  /* Space b/w text and underline */
  padding-bottom: 7px;

  text-decoration: none;
}
a:visited {
   text-decoration: none;
   color: $highlight;
}
.link:hover {
  border-bottom: 2px solid $white;
  cursor: pointer;
}

// Styling for nav links
.nav-links {
  color: $highlight;
  font-weight: 600;
}

.main-nav {
  p {
    text-align: center;
  }
  max-width: $page-width;
  margin: 0px auto;
}


#main-footer {
  border-top: 1px solid $border;
  height: 4%;
  .footer-container {
    height: 100%;
    margin: .7% 2.5em;
  }
  .copyright {
    float: left;
    font-size: .9em;
    margin: 0;
  }

  nav {
    float: right;
    i {
      color: $dark;
      margin-left: 1em;
      padding-top: .2em;
      &:hover {
        color: $highlight;
      }
    }
  }

}

// General Application Wide Helpers
.notice, .alert {
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid #E9E9E9;
  max-width: 25vw;
  margin: 0px auto;
  border-radius: 1.5em;
}

.alert {
  font-weight: 600;
  color: white;
}

.alert-danger {
	border: 1 px solid #ea0505;
	background: #f37f7f;
}

.alert-success {
	border: 1 px solid #43a937;
	background: #1ecc6f;
}

.signed-in-notice {
    float: right;
    // border: 1.3px solid darkgray;
    margin: 0 1.5em 0 0;
    padding: 0.5em;
	font-size: 0.65em;
    font-family: $monospace-font;
    /* background-color: #e6d7d7; */
    // box-shadow: 2px 1px 6px 1px #e2d0d0;

	.emoji {
		font-size: 1.8em;
		margin-top: 2px;
    	display: inline-block;
		vertical-align: middle;
	}

}

.email {
  text-decoration: none;
  color: $onyx;
}

// Imports go here.
@import 'about';
@import 'articles';
@import 'article_show';
@import 'article_editing';
@import 'pygments';
