@import 'variables';

html, body {
  font-family: $sansSerif;
  font-smoothing: subpixel-antialiased;
  font-weight: 300;
  color: $onyx;
}

// General h2 used on subheadings on article lists
h2 {
  font-size: 1.5em;
  -webkit-margin-before: .1em;
  -webkit-margin-after: .1em;
  font-weight: normal;
}

// General text styles used on about page and whatnot
p {
  margin-bottom: 20px;
  text-align: justify;
  font-size: 1.2em;
}

// Link styling
.link {
  line-height: 1.75em;
  color: $brightRed;

  /* Space b/w text and underline */
  // padding-bottom: 7px;

  text-decoration: none;

  &:hover {
    border-bottom: 2px solid $brightRed;
    cursor: pointer;
  }
  &:visited {
    color: $brightRed;
  }
}

.link-red {
  color: $brightRed;
  text-decoration: none;
  border-bottom: 3px solid $lightRedOrange;
  cursor: pointer;

  &:hover {
    border-bottom: 3px solid $brightRed
  }
}



// Article styling
#markdown-content {
  // Use serif font family in markdown post for all text
  font-family: $serif;

  h1 {
    font-size: 3em;
    text-align: center;
    line-height: 140%;
  }

  h2 {
    font-size: 2em;
    margin: 1.5em 0 1em 0;
  }

  h3 {
    font-weight: normal;
    font-size: 1.5em;
    margin: 2em 0 1em;
  }

  h4 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 2em 0 1em;
  }

  h5 {
    font-size: 1.1em;
    margin: 0;
    color: #777;
  }

  strong {
    padding: 2px 4px;
  }

  blockquote {
    p {
      color: #999;
      font-weight: 100;
    }
    padding: .7rem 0 .5rem 1rem;
    margin-left: 0;
    border-left: 2px solid #ccc;

    >:first-child {
      margin-top: 0;
    }
    >:last-child {
      margin-bottom: 0;
    }

  }

  a {
    color: $brightRed;
    text-decoration: none;
    border-bottom: 3px solid $lightRedOrange;
    cursor: pointer;

    &:hover {
      border-bottom: 3px solid $brightRed
    }

  }

  sup > a {
    // No bottom borders on superscripts
    border-bottom: none;
  }


  .header-link {
    // Custom header link formatting and hover action
    color: $onyx;
    border-bottom: none;
    text-decoration: none;
    position: relative;

    &:hover {
      border-bottom: none;
    }

    &:hover > .header-link-icon:before {
      // css for .header-link-icon when .header-link is hovered
      content: '#';
      position: absolute;
      left: -21px;
      top: 4px;
      color: $lightRedOrange;
      font-size: .8em
    }


  }

  h1, h2, h3, h4, h5 {
    code { font-size: 90%; }

    // On header links dont have link formatting
    a {
    }
  }

  p {
    margin: 1.1em 0;
  }

  p, ul, ol {
    font-weight: normal;
    font-size: 1.1em;
    line-height: 185%;
    text-align: left;
    color: #444;

    ul {
      font-size: .95em;
    }
  }

  img {
    display: block;
    max-width: 50%;
    margin: 1.1em auto;
  }

}

p.u-centerText {
  text-align: center;
}

p.u-imageCaption {
  text-align: center;
  font-style: italic;
}
