<% provide(:title, "Articles") %>
<div class="container" id="articles-container">
  <!-- Articles page content goes here here -->
  <div class="header">
    <h1>Articles</h1>
  </div>
  <p class="subtitle"> Some blog posts I've written.</p>

  <div class="posts-section">
    <!--
      Loop through and render all the posts using a _post partial
      and smart rails to loop through the list:
      https://www.railstutorial.org/book/updating_and_deleting_users#sec-partial_refactoring
    -->
    <!-- Loop through the posts by month in this year-->
      <div class="post-group-by-year">
        <% @posts.each do |year, posts| %>
          <h2 class="post-time-group"><%= link_to year.strftime('%Y'),
           url_for("/#{year.strftime('%Y')}"),
           class: 'link-gray' %></h2>

          <%= render posts %>

        <% end %>
    </div>

  </div>


</div>
