#about {
  font-family: $sansSerif;
}

#about-container {
  // Positioning for about container relative to the cover image
//  padding-top:7%;
//  padding-left: 13%;
  max-width: $pageWidth;
  margin: 0 auto;
}

.header-img {
  max-width: 100%;
  border: 1px solid $onyx;
  margin: 0.5em 0 0.5em 0;
}



.social {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.67em;
  a {
    text-decoration: none;
    color: $highlight;
    margin: 0 0.5em 0 0.5em;
  }
}
