// Styles for editing articles
.editing-container-no-flex {
  width: 80%;
  max-width: $editingPageWidth;
  margin: 0 auto;
}

.form-editing-wrapper {
  textarea, input:not([type="submit"]):not([type="checkbox"]), .line-row {
    width: 100%;
    font-family: $monospaceFont;

    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.form-input {
  font-size: 20px;
}

#textarea-wrapper {
  // Makes the textarea take up remaining horizontal width next to gutter
  width:auto;
  overflow: hidden;
}
#editor-textarea {
  height: auto;
  display: inline-block;
}

.CodeMirror {
  height: 700px;
  border: 1px solid #e1e4e8;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top: none;
}

.nav-wrapper {
  background-color: #fafbfc;
  border: 1px solid #e1e4e8;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  nav {
    .tabbutton {
      font-family: $sansSerif;
      background: none;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
      color: rgb(88, 96, 105);

      &:focus {
        outline: none;
      }

      &:hover {
        color: $onyx;
      }
    }


    .selected {
      background-color: $white;
      border-bottom: 2px solid $white;
      margin-bottom: -1px;
      font-weight: 600;
      border-right: 1px solid #e1e4e8;
      color: $onyx;
    }

    // only preview button gets a left border
    .selected#preview-button {
      border-left: 1px solid #e1e4e8;
    }

  }

}

.form-button-wrapper {
  text-align: center;
  margin: 1em 0;

  input[type="submit"] {
    background-color: $highlight;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

}

// File uploading styles
#dropzone {
  white-space: nowrap;

  height: 230px;
  background: $white;
  border: 2px dashed $lightRedOrange;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;

  &.has-files {
    justify-content: flex-start;
    cursor: initial;
  }

  p {
    text-align: center;
  }
  &.dragover {
    background: $lightGray;
    cursor: copy;
  }

  #thumbnails {
    font-family: $monospaceFont;
    div {
      display: inline-block;
      text-align: center;
      padding: 0 2em;
      position: relative;
    }
    .caption {
      display: block;
      font-size: 0.7em;
    }

    .imageStatus {
      font-size: 0.8em;
      display: block;
      margin-top: 0.5em;
      b, strong {
        font-weight: 900;
      }
    }

  }
  .thumbnail {
    max-height: 8em;
    margin-bottom: 1em;
  }
  .delete {
    color: $brightRed;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .copy {
    color: $onyx;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 0px;
  }

}


