<div class="nav-links">
  <p>
    <a class='link', href='/'>about</a>
    &nbsp;&nbsp;/&nbsp;&nbsp;
    <%= link_to "blog", posts_path, class: "link" %>
    &nbsp;&nbsp;/&nbsp;&nbsp;
    <a class='link', href='https://www.cise.ufl.edu/'>work</a>
    &nbsp;&nbsp;/&nbsp;&nbsp;
    <a class='link', href='https://www.cise.ufl.edu/'>contact</a>
  </p>
</div>
